---
import CookieBanner from "../components/CookieBanner.astro";
import CtaCookie from "../components/CtaCookie.astro";
import HeroCookie from "../components/HeroCookie.astro";
import Layout from "../layouts/Layout.astro";
import FavoritesCookies from "../components/FavoritesCookies.astro";
import Catalog from "../components/Catalog.astro";
---

<Layout title="Inicio | La Casita de Bri">
  <main>
    <HeroCookie />
    <FavoritesCookies />
    <CookieBanner />
    <Catalog />
    <CtaCookie />
  </main>
</Layout>
