---
import { Image } from "astro:assets";
---

<section class="w-full py-20">
  <Image
    src="/cookie-banner.png"
    alt="Cookie banner"
    width={1920}
    height={1080}
    class="w-full h-auto object-cover"
  />
</section>
