---
import Footer from "../components/ui/Footer.astro";
import Navbar from "../components/ui/Navbar.astro";
import "@fontsource-variable/gluten";
import "@fontsource-variable/climate-crisis";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
  </head>
  <body class="flex flex-col min-h-screen font-sans bg-amber-50 text-gray-900">
    <Navbar />
    <main class="flex-1 flex flex-col">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Gluten Variable", sans-serif;
  }
</style>
